pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
    margin: 0;
    overflow-x: hidden;
}

.workspace {
    background-color: white;
}

.text-unit {
    background-color: white;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 1px solid black;
}
.text-unit[data-status="0"] .unit-head {
    background-color: #ffffff;
}
.text-unit[data-status="1"] .unit-head {
    background-color: #cccccc;
}
.text-unit[data-status="2"] .unit-head {
    background-color: #ffcccc;
}
.text-unit[data-status="3"] .unit-head {
    background-color: #ffffcc;
}
.text-unit[data-status="4"] .unit-head {
    background-color: #ccffcc;
}

.unit-editor {
    display: table-row;
    min-height: 1em;
    width: 100%;
}
/* a hack to ensure visibility while empty */
.unit-editor:after {
    content: "\00a0";
    visibility: collapse;
}

.unit-head {
    width: 30%;
    display: table-cell;
    border-right: solid 1px black;
    font-family: monospace;
    cursor: text;
}
.unit-head::first-line {
    font-weight: bold;
}

.unit-body {
    display: table-cell;
    width: 70%;
    font-family: monospace;
    cursor: text;
}

.unit-controls {
    border-top: solid 1px black;
    display: table-footer-group;
    height: 0;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    visibility: collapse;
    background-color: cyan;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border: 1px dashed red;
    outline: 1px dashed red;
}
