pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
    margin: 0;
    overflow-x: hidden;
}

.text-unit {
    border: 1px solid black;
    width: 100%;
    height: auto;
    float: left;
    display: table;
}

.unit-head {
    border: 1px dotted black;
    width: 30%;
    height: 100%;
    display: table-cell;
    vertical-align: top;
    font-family: monospace;
    cursor: text;
}
.unit-head::first-line {
    font-weight: bold;
}

.unit-body {
    display: table-cell;
    border: 1px dashed black;
    width: 70%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
    font-family: monospace;
    cursor: text;
}

.unit-controls {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
}
.unit-controls-inner {
    display: inline-block;
}
